// This is the base layout for the app.

@import "../utilities/_fillContext.scss";

$toolbar-height: 50px;
$tabBar-height: 64px;

.oa-l-app { @extend %fillContext;
	display: flex;
	flex-flow: column nowrap;
}


//
// Layout Components
//

.oa-l-app--toolbar {
	display: flex;
	flex-flow: column nowrap;
	flex: 0 0 $toolbar-height;
}
.oa-l-app--content {
	flex: 1 1 auto;
	overflow-x: hidden;
	overflow-y: auto;
}
.oa-l-app--contentCentered { @extend .oa-l-app--content;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.oa-l-app--tabBar {
	display: flex;
	flex-flow: column nowrap;
	flex: 0 0 $tabBar-height;
}
