<!DOCTYPE html>
<footer>
  <md-toolbar class="md-scroll-shrink" style="background:#222">
    <div style="" layout="row" layout-align="center center" flex>

      <md-button class="col" style="margin:auto" ng-href="#/dashboard">
        <i style="color:#ddd;font-size:35px;" class="material-icons">trending_up</i>
      </md-button>

      <md-button class="col" style="margin:auto" ng-href="#/rooms">
        <i style="color:#ddd;font-size:35px;" class="material-icons">home</i>
      </md-button>

      <md-button class="col" style="margin:auto" ng-href="#/settings">
        <i style="color:#ddd;font-size:35px;" class="material-icons">settings</i>
      </md-button>

    </div>
  </md-toolbar>
</footer>
