<!DOCTYPE html>
<div id="main_login_form" style="display:none;">
  <div style="height:250px;background-color: rgba(2,2,2,0.9);margin:50px 25% auto 25%;padding:25px;border-radius:5px;">
    <div style="font-size:300%;color:#eee">
      User Login
    </div>
    <form ng-submit="login(user)" style="padding:0px 40px 0px 40px;">
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">mail</i>
          <input style="color:white;font-size:18px" id="email" type="email" ng-model="user.username" class="validate">
          <label for="">Email</label>
        </div>

        <div class="input-field col s12 m6">
          <i class="material-icons prefix">password</i>
          <input style="color:white;font-size:18px" id="password" type="password" ng-model="user.password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>

      <div style="width:100%;text-align:center;color:white"><h5>{{ login_message }}</h5></div>
      <button style="float:right" class="btn waves-effect waves-light animated" type="submit" ng-click="login(user)" >login
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>

        
<div ng-submit="register(new_user)"  id="main_register_form" style="display:none;width:100%">
  <div style="height:325px;background-color: rgba(2,2,2,0.9);margin:50px 25% auto 25%;padding:25px;border-radius:5px;">
          <div style="width:100%;text-align:center;font-size:300%;color:#3ec1f9;">
            Register New Account
          </div>
          <form style="padding:0px 40px 0px 40px;">
            <div class="row">

        <div class="input-field col s12 m6">
          <i class="material-icons prefix">mail</i>
          <input style="color:white;font-size:18px" id="email" type="email" ng-model="user.username" class="validate">
          <label for="">Email</label>
        </div>


        <div class="input-field col s12 m6">
          <i class="material-icons prefix">password</i>
            <input style="color:white;font-size:18px" id="password" ng-model="new_user.password" type="password" class="validate">
          <label for="password">Password</label>
        </div>

        <div class="input-field col s12 m6">
          <i class="material-icons prefix">password</i>
            <input style="color:white;font-size:18px" id="password" ng-model="new_user.confirm_password" type="password" class="validate">
          <label for="password"> Confirm Password</label>
        </div>
      </div>
      <div style="width:100%;text-align:center;color:white"><h5>{{ register_message }}</h5></div>
      <button style="margin:10px auto 10px 35%;background:#3ec1f9" class="btn waves-effect waves-light animated" type="button" ng-click="register(new_user)" >register
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>
