<!DOCTYPE html>
<div id="price_generator_form" style="display:none;">
  <div style="width:100%;text-align:center;font-size:300%;color:#3ec1f9;">
    Build Your System
  </div>
  <form style="padding:0px 40px 0px 40px;">
    test
    <button style="margin:10px auto 10px 35%;background:#3ec1f9" class="btn waves-effect waves-light animated" type="button" ng-click="register(new_user)" >register
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
