# Dependencies
/node_modules

# Logs
*.log
logs

# Testing
/coverage

# Production
/build

# Misc
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
