<div ng-controller="landing" style="background:#444;color:#eee;overflow-y:hidden;">

<style>
.photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10vw 0px 0px 0px;
  width: 100vw;
  height: 40vw;
  position: relative;
  background-image: url('images/pyfi_images/construction_van.jpg');
}

.logo {
  color:#3ec1f9;
  width:70%;

  max-width:50vw;
  padding:20px;
  background-color: rgba(0,0,0,0.7);
  border-radius:3px;
}

.main_login_form {
  max-width:500px;
  width:30vw;
  margin: auto;
  padding:25px;
  border-radius:3px;
}

p {
margin : 5px;
}
</style>

<div class="photo">
  <div style="text-align:center">

    <img id="pyfi_logo" class="logo" src="images/pyfi_images/pyfi-logo.png"></img>

    <form ng-controller="LoginCtrl" ng-submit="login(user_login)" style="display:none;" id="main_login_form">
      <md-content class="main_login_form" md-theme="docs-dark">
        <div layout-gt-md="row">
          <md-input-container style="margin:auto">
            <label>Email</label>
            <input ng-model="user_login.username" type="email">
          </md-input-container>
          <md-input-container style="margin:auto">
            <label>Password</label>
            <input type="password" ng-model="user_login.password">
          </md-input-container>
        </div>
        <md-button style="background:#555;width:100%" type="submit">login</md-button>
      </md-content>
    </form>

    <form ng-controller="LoginCtrl"  ng-submit="register(user_register)" style="display:none;" id="main_register_form">
      <md-content class="main_register_form" md-theme="docs-dark">
        <div layout="column">
          <md-input-container style="margin:10px">
            <label>Email</label>
            <input ng-model="user_register.username" type="email">
          </md-input-container>
          <md-input-container style="margin:10px">
            <label>Password</label>
            <input ng-model="user_register.password" type="password">
          </md-input-container>
          <md-input-container  style="margin:10px">
            <label>Password</label>
            <input type="password" ng-model="user_register.password_confirm">
          </md-input-container>
        </div>
        <md-button style="background:#555;width:100%" type="submit">Register</md-button>
      </md-content>
    </form>

  </div>
</div>

<div style="margin:25px auto 25px auto;padding:25px;text-align:center;max-width:1000px;background-color: rgba(2,2,2,0.3);border-radius:3px" layout="column" layout-gt-xs="row">
  <md-card class="fade_in" style="padding:20px;margin:10px;" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    <span style="padding:20px;font-size:150%" class="quickening card-title">Remote Site Monitoring</span>
    <img style="border-radius:2px;border-color:#222" ng-src="images/pyfi_images/construction_site_thumbnail.jpg" class="md-card-image"></img>
    <md-card-content>
      <hr style="background:#555;margin:20px">
      <p>24 Hour Video Monitoring
      <p>View Live Streams and recordings from Anywhere!
      <p>Mobile Friendly interface
      <p>Motion Activation and alerts
      Records all activated immediately
    </md-card-content>
    <div>
      <md-button style="background:#555;width:100%" ng-click="goto('remote_site_monitoring')">packages & pricing</md-button>
    </div>
    </md-card>
    <md-card class="fade_in" style="padding:20px;margin:10px" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
      <span style="padding:20px;font-size:150%" class="quickening card-title">Home <br> Automation & Security</span>
      <img style="border-radius:2px;border-color:#222;width:100%" ng-src="images/pyfi_images/hand_finished1.jpg" class="md-card-image"></img>
      <md-card-content>
        <hr style="background:#555;margin:20px">
        <p>Control thermostats, deadbolts, lights and more!
        <p>Mobile Friendly interface
        <p>Motion Activation and alerts
        <p>24 Hour Video Monitoring
        <p>Records all activated immediately
      </md-card-content>
    <div>
      <md-button style="background:#555;width:100%" ng-click="goto('home_automation_security')">packages & pricing</md-button>
    </div>
  </md-card>
</div>


<img style="height:50vw;width:100%" src="images/pyfi_images/pyfi_dashboard2.jpg"></img>

<!--
<div style="margin:25px auto 25px auto;padding:25px;text-align:center;max-width:1000px;background-color: rgba(2,2,2,0.3);border-radius:3px" layout="column" layout-gt-xs="row">
  <md-card class="fade_in" style="padding:20px;margin:10px;" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    <span style="padding:20px;font-size:150%" class="quickening card-title">Remote Site Monitoring</span>
    <md-card-content>
	<video onclick="this.play();" style="width:100%" poster="downloads/cover.png" controls>
	  <source src="/downloads/pyfi.mp4" type="video/mp4">
	  Your browser does not support the video tag.
	</video>
    </md-card-content>
  </md-card>
</div>
-->
<div class="row" style="margin:0px auto 0px auto;padding:20px;text-align:center;background-color: rgba(2,2,2,0.4);border-radius:5px;color:#eee">
  <div style="">
  </div>
    <h3>Save time and money!</h3>
  <h4>Ready to get started?</h4>
  <div style="background-color: rgba(2,2,2,0.0);">
    <p> Email us your project needs <a hred="mailto:sales@pyfi.org">sales@pyfi.org</a></p>
    <p> Or give us a call at (405) 352-0123</p>
  </div>
</div>

<!--
<img style="height:40vw;width:100%" src="images/pyfi_images/dual_cameras.jpg"></img>
-->

</div>
