<!DOCTYPE html>
<div id="main_login_form" style="display:none;">
          <div style="width:100%;text-align:center;font-size:300%;color:#3ec1f9;">
            User Login
          </div>
          <form style="padding:0px 40px 0px 40px;">
            <div class="row">
              <div class="input-field col s6">
                <input style="color:white;font-size:18px" id="email" type="email" ng-model="user.username" class="validate">
                <label for="email"><b style="color:white;font-size:19px">Email</b></label>
              </div>
              <div class="input-field col s6">
                <input style="color:white;font-size:18px" id="password" ng-model="user.password" type="password" class="validate">
                <label for="password"><b style="color:white;font-size:19px">Password</b></label>
              </div>
            </div>
          <div style="width:100%;text-align:center;color:white"><h5>{{ login_message }}</h5></div>
            <button style="margin:10px auto 10px 35%;background:#3ec1f9" class="btn waves-effect waves-light animated" type="button" ng-click="login(user)" >login
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
        
        <div id="main_register_form" style="display:none;">
          <div style="width:100%;text-align:center;font-size:300%;color:#3ec1f9;">
            Register New Account
          </div>
          <form style="padding:0px 40px 0px 40px;">
            <div class="row">
              <div class="input-field col s12">
                <input style="width:100%;;color:white;font-size:18px" id="email" type="email" ng-model="new_user.username" class="validate">
                <label for="email"><b style="color:white;font-size:19px">Email</b></label>
              </div>  
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input style="color:white;font-size:18px" id="password" ng-model="new_user.password" type="password" class="validate">
                <label for="password"><b style="color:white;font-size:19px">Password</b></label>
              </div>
              <div class="input-field col s6">
                <input style="color:white;font-size:18px" id="password" ng-model="new_user.confirm_password" type="password" class="validate">
                <label for="password"><b style="color:white;font-size:19px">Confirm Password</b></label>
              </div>
            </div>
            <div style="width:100%;text-align:center;color:white"><h5>{{ register_message }}</h5></div>
            <button style="margin:10px auto 10px 35%;background:#3ec1f9" class="btn waves-effect waves-light animated" type="button" ng-click="register(new_user)" >register
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
