<!DOCTYPE html>
<div id="price_generator_form" style="display:none;">
  <div style="width:100%;text-align:center;font-size:300%;color:#3ec1f9;">
    Build Your System
  </div>
  <form style="padding:0px 40px 0px 40px;text-align:left;font-size:20px;color:#fff;">
    <div class="row"><style="">
      Enjoy putting together your peace of mind! Keep in mind this is just to help give our installers an idea of where to start with your project. Feel free to ask for our assistance at any time!
    </div>
    <button style="margin:10px auto 10px 25%;background:#3ec1f9" class="btn waves-effect waves-light animated" type="button" ng-click="show_motion_detector_form ()" >Get Started
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
