// A card

@import "../_config.scss";

.oa-Card {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	flex: 1 1 auto;
	background-color: #444444; // TODO: Move to config
}


//
// Module Components
//

.oa-Card--toolbar {
	display: flex;
	height: 48px;
	background-color: #383838; // TODO: Move to config
}

.oa-Card--content {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	flex: 1 1 auto;
}
