
<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link href="css/ionic.css" rel="stylesheet">
  <script src="js/jquery-ui.min.js"></script>
</head>

<body ng-app="open-automation">


<p><a href="#/!">Main</a></p>

<a href="#!london">City 1</a>
<a href="#!paris">City 2</a>

<p>Click on the links to read about London and Paris.</p>

<div ng-view></div>

<script>
var app = angular.module("open-automation", ["ngRoute"]);
app.config(function($routeProvider) {
    $routeProvider
    .when("/", {
        templateUrl : "<h1>testtt!!</h1>"
    })
    .when("/london", {
        templateUrl : "<h1>testtt!!</h1>"
    })
    .when("/paris", {
        templateUrl : "<h1>testtt!!</h1>"
    });
});
</script>

<!--

<style>
.my-card-container .mdc-card {
  max-height: 300px;

}
</style>
<div class="my-card-container">
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">






<div ng-controller="CameraCtrl">
<div data-ng-repeat="gateway in gateways" class="mdc-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-12-phone">
  <div data-ng-repeat="camera in gateway.camera_list">

test
  </div>
</div>
</div>




<div class="mdc-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-12-phone">
  <section class="mdc-card__primary">
    <h1 class="mdc-card__title mdc-card__title--large">Title goes here</h1>
    <h2 class="mdc-card__subtitle">Subtitle here</h2>
  </section>
  <section class="mdc-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat.
  </section>
  <section class="mdc-card__actions">
    <button class="mdc-button mdc-button--compact mdc-card__action">Action 1</button>
    <button class="mdc-button mdc-button--compact mdc-card__action">Action 2</button>
  </section>
</div>



<div class="mdc-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-12-phone">
  <section class="mdc-card__primary">
    <h1 class="mdc-card__title mdc-card__title--large">Title goes here</h1>
    <h2 class="mdc-card__subtitle">Subtitle here</h2>
  </section>
  <section class="mdc-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat.
  </section>
  <section class="mdc-card__actions">
    <button class="mdc-button mdc-button--compact mdc-card__action">Action 1</button>
    <button class="mdc-button mdc-button--compact mdc-card__action">Action 2</button>
  </section>
</div>
  </div>
</div>
</div>

-->
  

</body>
</html>
