<!DOCTYPE html>
<html ng-app="main_site" ng-controller="index" >
<head>
  <% include ../partials/header.ejs %>

  <link href="materialize/dist/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>

<body style="background:#444">
  <% include ../partials/nav.ejs %>
<style>
test{
    background: url("images/pyfi_images/hand_finished1.jpg") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}


  .parallax-container {

  }
</style>

<div style="height:40vw;" class="parallax-container">
  <div style="" class="parallax">
    <img style="width:100%" src="images/pyfi_images/construction_van.jpg"></img>
  </div>
  <div style="text-align:center">
    <% include ../partials/login_form.ejs %>
    <img id="pyfi_logo" style="color:#3ec1f9;width:70%;margin:25px;max-width:1000px;padding:20px;background-color: rgba(0,0,0,0.7);border-radius:5px" src="images/pyfi_images/pyfi-logo.png"></img>
  </div>
</div>

<div style="padding:20px;">
  <div style="margin:20px auto 20px auto;padding:25px;text-align:center;max-width:1000px;background-color: rgba(2,2,2,0.3);border-radius:5px" class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1 fade_in">
        <div class="card-content white-text">
          <span class="quickening card-title">Remote Site Monitoring</span>
          <img style="width:100%;height:100%" src="images/pyfi_images/construction_site_thumbnail.jpg"></img>
          <br><br><br>
          <hr style="margin:20px">
          <p>24 Hour Video Monitoring</p>
          <p>View Live Streams and recordings from Anywhere!</p>
          <p>Mobile Friendly interface</p>
          <p>Motion Activation and alerts</p>
          <p>Records all activated immediately</p>
        </div>
        <div class="card-action">
          <button style="" class="btn waves-effect waves-light animated" type="button" ng-click="goto('remote_site_monitoring')" >
            packages & pricing
          </button>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card blue-grey darken-1 fade_in">
        <div class="card-content white-text">
          <span class="quickening card-title">Home Automation & Security</span>
          <img class="" style="width:100%;height:100%" src="images/pyfi_images/hand_finished1.jpg"></img>
          <hr style="margin:20px">
          <p>Control thermostats, deadbolts, lights and more!</p>
          <p>Mobile Friendly interface</p>
          <p>Motion Activation and alerts</p>
          <p>24 Hour Video Monitoring</p>
          <p>Records all activated immediately</p>
        </div>
        <div class="card-action">
          <button style="" class="btn waves-effect waves-light animated" type="button" ng-click="goto('home_automation_security')" >
            packages & pricing
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

    <!--   <div class="parallax-container">
    <div class="parallax"><img src="images/pyfi_images/pyfi-logo.png"></div>
    </div>
    <div style="" class="parallax-container">
      <div class="parallax">
        <img src="images/pyfi_images/hand_finished1.jpg"></img>
      </div>
      <div style="text-align:center;max-width:1000px;margin:40px auto auto auto;padding:20px;background-color: rgba(0,0,0,0.6);">
        <img style="margin:50px 0px 0px 0px;font-size:300%;color:#3ec1f9;width:70%" src="images/pyfi_images/pyfi-logo.png"></img>
        <hr style="margin:20px;">
      <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1 fade_in">
            <div class="card-content white-text">
              <span class="card-title">Remote Site Monitoring</span>
              <img style="width:100%;height:100%" src="images/pyfi_images/construction_site.jpg"></img>
              <hr style="margin:20px">
              <p>24 Hour Video Monitoring</p>
              <p>View Live Streams and recordings from Anywhere!</p>
              <p>Mobile Friendly interface</p>
              <p>Motion Activation and alerts</p>
              <p>Records all activated immediately</p>
            </div>
            <div class="card-action">
            <button style="" class="btn waves-effect waves-light animated" type="button" ng-click="submit_home_consult()" >
	      packages & pricing
            </button>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue-grey darken-1 fade_in">
            <div class="card-content white-text">
              <span class="card-title">Home Automation & Security</span>
              <img class="" style="width:100%;height:100%" src="images/pyfi_images/hand_finished1.jpg"></img>
              <hr style="margin:20px">
              <p>24 Hour Video Monitoring</p>
              <p>View Live Streams and recordings from Anywhere!</p>
              <p>Mobile Friendly interface</p>
              <p>Motion Activation and alerts</p>
              <p>Records all activated immediately</p>
            </div>
            <div class="card-action">
            <button style="" class="btn waves-effect waves-light animated" type="button" ng-click="submit_home_consult()" >
	      packages & pricing
            </button>
            </div>
          </div>
        </div>
       <hr> -->

       <!---<div id="contact_form">
          <div style="width:100%;text-align:center;font-size:300%;color:#3ec1f9;">
          </div>
          <form style="padding:0px 40px 0px 40px;" id="customer_contact_form">
            <div class="row">
              <div class="input-field col s6">
                <input style="color:white;font-size:18px" id="first_name" type="text" class="validate">
                <label for="first_name"><b style="color:#fff;font-size:19px">First Name</b></label>
              </div>
              <div class="input-field col s6">
                <input style="color:white;font-size:18px" id="last_name" type="text" class="validate">
                <label for="last_name"><b style="color:#fff;font-size:19px">Last Name</b></label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input style="color:white;font-size:18px" id="phone_number" type="text" class="validate">
                <label for="Phone"><b style="color:white;font-size:19px">Phone</b></label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input style="color:white;font-size:18px" id="email" type="email" class="validate" class="card-panel hoverable">
                <label for="email"><b style="color:white;font-size:19px">Email</b></label>
              </div>
            </div>

            <button style="margin:10px auto 20px 35%;" class="btn waves-effect waves-light animated" type="button" ng-click="submit_home_consult()" >
              Submit | <i class="fa fa-paper-plane fa-3x"></i>
            </button>

            <hr style="width:100%">

            <button style="margin:20px;height:50px;width:100%;" class="btn waves-effect waves-light animated" type="button" ng-click="show_price_generator()" >
              Build Your System | <i class="fa fa-home fa-3x"></i>
            </button>

          </form>
        </div>
        
        <% include ../partials/login_form.ejs %>
        <% include ../partials/price_generator.ejs %>
        <% include ../partials/motion_detector_form.ejs %>
      </div>
    </div>
  </div>-->


<div style="height:50vw;" class="parallax-container">
  <div style="" class="parallax">
    <img style="width:100%" src="images/pyfi_images/pyfi_dashboard2.jpg"></img>
  </div>
</div>

  <div class="row" style="margin:20px auto 20px auto;padding:20px;text-align:center;max-width:800px;background-color: rgba(2,2,2,0.4);border-radius:5px">
<div style="color:#eee">
  <h3>Ready to get started?</h3>
  <div style="background-color: rgba(2,2,2,0.0);">
    <p>(405) 352-0123</p>
    <p><a hred="mailto:sales@pyfi.org">sales@pyfi.org</a></p>
  </div>
</div>
    <div id="contact_form">
      <form style="" id="customer_contact_form">

        <div class="input-field col s12 m6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Full Name</label>
        </div>

        <div class="input-field col s12 m6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Telephone</label>
        </div>

        <div class="input-field col s12 m6">
          <i class="material-icons prefix">mail</i>
          <input id="" type="tel" class="validate">
          <label for="">Email</label>
        </div>

        <div class="input-field col s12 m6">
          <i class="material-icons prefix">business</i>
          <input id="" type="tel" class="validate">
          <label for="">Company Name</label>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">chat</i>
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Project Desciption</label>
        </div>

          <button style="height:50px;" class="btn btn-block waves-effect waves-light animated" type="button" ng-click="submit_home_consult()" >
            Submit Quote Request | <i class="fa fa-paper-plane fa-3x"></i>
          </button>
        </form>
      </div>
      <% include ../partials/login_form.ejs %>
      <% include ../partials/price_generator.ejs %>
      <% include ../partials/motion_detector_form.ejs %>
  </div>


<div style="height:20vw;" class="parallax-container">
  <div style="" class="parallax">
    <img style="width:100%" src="images/pyfi_images/dual_cameras.jpg"></img>
  </div>
</div>

<div style="padding:20px;">
  <div class="row container" style="margin:auto;max-width:800px;text-align:center;width:100%">
    <h2 class="header" style="text-align:center;font-size:50px;color:#1a5fce">About Us</h2>
    <p style="text-align:left;font-size:20px;color:#789edb">Pyfi's Home Automation and Security provides homeowners with quality home media and automation services such as location controlled thermostats, media, lights, dead bolts, and surveillance. 

Pyfi's Home Automation and Security is able to provide customized services, tailored to your specific needs. All of Pyfi's services are controlled from a user friendly dashboard, conveniently managed from your desktop or mobile device.
  </div>
</div>

<!--
<div style="height:40vw;" class="parallax-container">
  <div style="" class="parallax">
    <img style="width:100%" src="images/pyfi_images/dual_cameras.jpg"></img>
  </div>

  <div class="section black">
    <div class="row container" style="margin:auto;max-width:800px;text-align:center;width:100%">
      <h2 class="header" style="text-align:center;font-size:50px;color:#1a5fce">About Us</h2>
      <p style="text-align:left;font-size:20px;color:#789edb">Pyfi's Home Automation and Security provides homeowners with quality home media and automation services such as location controlled thermostats, media, lights, dead bolts, and surveillance. 

Pyfi's Home Automation and Security is able to provide customized services, tailored to your specific needs. All of Pyfi's services are controlled from a user friendly dashboard, conveniently managed from your desktop or mobile device.

    </div>
  </div>

</div>


  <div style="height:100vh" class="parallax-container">
    <div class="parallax"><img src="images/pyfi_images/desktop_screenshots.jpg"></div>
  </div>
-->
  


  <div class="slider">
    <ul class="slides">
      <li>
        <img src="images/pyfi_images/pyfi_universal_controller_spreadout.jpg">
        <div class="caption right-align">
        </div>
      </li>
      <li>
        <img src="images/pyfi_images/hand_populated.jpg"> 
        <div class="caption left-align">
          <h1 class="light white-text">Trusted Development</h1>
          <h3 class="light white-text">Hand built and tested means you can trust our devices to maintain performance!</h3>
        </div>
      </li>
      <li>
        <img src="images/pyfi_images/boards.jpg"> 
        <div class="caption right-align">
        </div>
      </li>
      <li>
        <img src="images/pyfi_images/opener.jpg"> 
        <div class="caption center-align">
        </div>
      </li>
    </ul>
  </div>

<script>
function myFunction() {
  var first_name = document.getElementById("first_name").value;
  var last_name = document.getElementById("last_name").value;
  var phone = document.getElementById("phone_number").value;
  var email = document.getElementById("email").value;
  document.getElementById("contact_form").className = "fade-out";
  // Returns successful data submission message when the entered information is stored in database.
  var dataString = 'first_name=' + first_name + '&last_name=' + last_name + '&phone_number=' + phone + '&email=' + email;
  console.log(dataString);
  // AJAX code to submit form.
  $.ajax({
      type: "POST",
      url: "http://24.253.223.242:8080/open-automation.org/php/add_customer_contact.php",
      data: dataString,
      cache: false,
      success: function(html) {
        console.log(html);
      }
    });
  return false;
}


  $(document).ready(function () {
      $(".button-collapse").sideNav();
    $(function () {
        $('#mycarousel').carousel({
            interval: 3000
        });
    });
  });
</script>

</body>
</html>
