<!DOCTYPE html>
<html>
<head>

<title>pyfi</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/css/fonts.css" rel="stylesheet">
<link href="https://material.angularjs.org/1.1.5/docs.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/style_2.css" rel="stylesheet">
<link href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.5/angular-material.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">  

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>

<script src="/js/socket.io.js"></script>
<script src="/js/ng-socket-io.js"></script>
<script src="/js/services.js"></script>
<script src="/js/jsmpeg/jsmpeg.min.js"></script>
<script src="/js/jquery-2.2.4.min.js"></script>
<script src="/js/jquery.cookie.min.js"></script>

<script src="http://durated.github.io/angular-scroll/0.6.1/angular-scroll.min.js"></script>
<script src="/js/angular-parallax.js"></script>

<!--
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkp7LaN0aTOl5xN8x5RunDAJsgwWBoYJo"></script>
-->

<style>
body {
  background:#555;
  color:#ddd;
}
</style>
</head>
<body ng-app="open-automation" ng-controller="userinfo" ng-cloak>

  <div layout="column" layout-fill>

<nav style="background:#333;height:50px" ng-controller="NavCtrl">
  <section layout="row" flex="" >

    <md-sidenav style="background:#444" class="md-sidenav-left" md-component-id="left" md-whiteframe="4">

      <md-toolbar style="background:#444">
      <md-button style="margin:10px auto auto 10px" ng-controller="LeftCtrl" ng-click="close()">
        <i style="color:#ddd;font-size:40px;margin:auto 10px auto auto" class="material-icons">menu</i>
        <img img style="width:160px;" src="images/pyfi_images/pyfi-logo1.png"></img>
      </md-button>
      </md-toolbar>
      <md-content style="background:#333;color:#ddd" ng-controller="LeftCtrl">

        <form ng-submit="login(user_login)" ng-if="show_login_form" ng-controller="LoginCtrl">
          <md-content style="text-align:center" md-theme="docs-dark">
	    <div>{{ login_message }}</div>
            <div layout-gt-md="row" style="">
              <md-input-container style="margin:auto">
                <label>Email</label>
                <input ng-model="user_login.username" type="email">
              </md-input-container>
              <md-input-container style="margin:auto">
                <label>Password</label>
                <input type="password" ng-model="user_login.password">
              </md-input-container>
              <md-button style="background:#555;width:80%" type="submit">login</md-button>
            </div>
          </md-content>
        </form>

        <form ng-if="show_register_form" ng-submit="register(user_register)" ng-controller="LoginCtrl">
          <md-content md-theme="docs-dark">
            <div layout="column">
              <md-input-container style="margin:10px">
                <label>Email</label>
                <input ng-model="user_register.username" type="email">
              </md-input-container>
              <md-input-container style="margin:10px">
                <label>Password</label>
                <input ng-model="user_register.password" type="password">
              </md-input-container>
              <md-input-container  style="margin:10px">
                <label>Password</label>
                <input type="password" ng-model="user_register.password_confirm">
              </md-input-container>
            </div>
            <md-button style="background:#555;width:100%" type="submit">Register</md-button>
          </md-content>
        </form>

        <md-button ng-if="!user" style="width:90%;" ng-click="show_login()">Login</md-button>
        <md-button ng-show="user" style="width:90%;" ng-click="logout()">{{user}}, logout</md-button>

        <md-button ng-if="!user" hide-gt-md="" style="width:90%;" ng-click="show_register()">Register</md-button>
        <md-button ng-if="!user" hide-gt-md="" style="width:90%;" ng-click="download_android()">
          Android | <div class="fa fa-cloud-download fa-2x"></div>
        </md-button>
      </md-content>

    </md-sidenav>
    <md-button hide-gt-xs ng-click="toggleLeft()" class="md-primary">
      <i style="color:#ddd;margin:0px 0px 0px 0px;font-size:40px" class="material-icons">menu</i>
    </md-button>
    <a href="/" hide-gt-xs class=""><img img style="width:160px;margin:5px 0px 0px 0px" src="images/pyfi_images/pyfi-logo1.png"></img></a>
    <div ng-controller="landing" style="width:100%" >
      <div hide show-gt-xs style="color:#ddd">
        <a href="/" class=""><img img style="width:160px;margin:5px 0px 0px 10px" src="images/pyfi_images/pyfi-logo1.png"></img></a>

        <md-button ng-if="!user" style="margin:10px;float:right" ng-click="show_login()">Login</md-button>
        <md-button ng-show="user" style="margin:10px;float:right" ng-click="logout()">{{user}}, logout</md-button>

        <md-button ng-if="!user" style="margin:10px;float:right" ng-click="show_register()">Register</md-button>
        <md-button ng-if="!user" style="margin:10px;float:right" ng-click="download_android()">
          Android | <div class="fa fa-cloud-download fa-2x"></div>
        </md-button>
      </div>
    <div>
  </section>
</nav>

    <main flex>
      <div ng-view></div>
    </main>

<footer>
  <md-toolbar class="md-scroll-shrink" style="background:#222">
    <div style="" layout="row" layout-align="center center" flex>

      <md-button class="col" style="margin:auto" ng-href="#/dashboard">
        <i style="color:#ddd;font-size:35px;" class="material-icons">trending_up</i>
      </md-button>

      <md-button class="col" style="margin:auto" ng-href="#/rooms">
        <i style="color:#ddd;font-size:35px;" class="material-icons">home</i>
      </md-button>

      <md-button class="col" style="margin:auto" ng-href="#/settings">
        <i style="color:#ddd;font-size:35px;" class="material-icons">settings</i>
      </md-button>

    </div>
  </md-toolbar>
</footer>

  </div>



<script src="/js/angular-parallax.js"></script>
<script src="/js/routes.js"></script>
<script src="/controllers/landing.js"></script>
<script src="/controllers/userinfo.js"></script>
<script src="/controllers/account.js"></script>
<script src="/controllers/room.js"></script>
<script src="/controllers/camera.js"></script>
<script src="/controllers/media.js"></script>
<script src="/controllers/climate.js"></script>
<script src="/controllers/access.js"></script>
<script src="/controllers/lights.js"></script>
<script src="/controllers/regulator.js"></script>
<script src="/controllers/map.js"></script>
</body>
</html>

