<ion-view view-title="Dashboard">
  <ion-content >
<div style="margin:auto;max-width:1300px;" overflow-scroll="true">
  <div class="card">
    <div style="text-align:center;font-size:60px;">70F</div>     

    <div style="text-align:center;width:100%;color:#222;">
<div class="row" style="padding:10px 0px 10px 30px">
      <button style="height:100px" ng-click="thermostat_up('mute')" class="fa fa-chevron-up  fa-5x col"></button>
      <button style="height:100px" ng-click="thermostat_down('volume down')" class="fa fa-chevron-down fa-5x col"></button>
      <button style="height:100px" ng-click="thermostat_power('volume up')" class="fa fa-power-off fa-5x col"></button>
</div> 
    </div>
  </div>

<div class="card">
  <div ng-controller="MediaCtrl" style="padding:10px 0px 10px 30px">
<div class="row">
      <button style="height:100px" ng-click="media_dash('mute')" class="fa fa-volume-off fa-5x col"></button>
      <button style="height:100px" ng-click="media_dash('volume down')" class="fa fa-volume-down fa-5x col"></button>
      <button style="height:100px" ng-click="media_dash('volume up')" class="fa fa-volume-up fa-5x col"></button>
</div>
<div class="row">
      <button style="height:100px" ng-click="media_dash('power')" class=" fa fa-power-off fa-5x col"></button>
      <button style="height:100px" ng-click="media_dash('play')" class="fa fa-pause fa-5x col"></button>
      <button style="height:100px" ng-click="media_dash('next')" class="fa fa-forward fa-5x col"></button>
</div>
</div>
</div>

<div class="card">
  <div ng-controller="LightsCtrl" style="padding:10px;">
      <button style="background:#e8e8e8;height:100px" ng-click="send_lights('warm')" class="button col-xs-6 col-md-4 col-lg-3"></button>
      <button style="background:#fff;height:100px" ng-click="send_lights('white')" class="button col-xs-6 col-md-4 col-lg-3"></button>
      <button style="background:#111;height:100px" ng-click="send_lights('off')" class="button col-xs-6 col-md-4 col-lg-3"></button>
      <button style="background:#cc0000;height:100px" ng-click="send_lights('red')" class="button col-xs-6 col-md-4 col-lg-3"></button>
</div>
      <input type="text" class="button-block" ng-model="$scope.slider_value" />
      <div class="item range range-positive">
        <i class="icon ion-ios-sunny"></i>
        <input ng-model="slider_value" ng-change="send_lights(slider_value)" type="range" name="volume" min="0" max="254" value="33">
        <i class="icon ion-ios-sunny-outline"></i>
      </div>
</div>
  
<div class="card">
  <div ng-controller="userinfo" style="padding:10px">
    <div style="background:#f8f8f8;border:2px solid #555;">
      <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src=""> </iframe>
    </div>
    <div style="background:#f8f8f8;border:2px solid #555;border-width:0px 2px 2px 2px">
      <img src='//radar.weather.gov/ridge/Conus/Loop/NatLoop.gif' style='max-width:100%'/>    
    </div>
  </div>
</div>


<div>
  <div ng-controller="MapsCtrl" class="card">
    <div class="item item-divider">
    </div>  
    <div style="border:2px solid #555;width:100%;height:500px;" id="map"></div>
  </div>
</div>

  </ion-content>
</ion-view>
