.app {
	composes: fillContext from "../styles/helpers.css";
	display: flex;
	flex-flow: column nowrap;
}

.toolbar {
	display: flex;
	flex-flow: column nowrap;
	flex: 0 0 auto;
}

.content {
	flex: 1 1 auto;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	position: relative;
	-webkit-overflow-scrolling: touch;
}

.tabBar {
	display: flex;
	flex-flow: column nowrap;
	flex: 0 0 64px;
}
