@value primary from "../styles/colors.css";

.button {
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 36px;
	min-width: 64px;
	padding: 0 8px;
	border-radius: 2px;
	overflow: hidden;
	font-size: 1rem;
	color: primary;
	text-decoration: none;
}
.button::before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: primary;
	opacity: 0;
	transition: opacity 0.15s;
}
.button:hover::before {
	opacity: 0.04;
}

.outlinedButton {
	composes: button;
	padding: 0 16px;
	box-shadow: 0 0 0 1px primary;
}

.filledButton {
	composes: button;
	padding: 0 16px;
	background-color: primary;
	color: #333333;
}
.filledButton::before {
	background-color: #000000;
}
.filledButton:hover::before {
	opacity: 0.08;
}

.submit {
	display: none;
}
