@value primary from "../styles/colors.css";

.button {
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 36px;
	min-width: 64px;
	padding: 0 8px;
	vertical-align: middle;
	border-radius: 4px;
	overflow: hidden;
	font-size: 1rem;
	color: primary;
	text-decoration: none;
}
.button::before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: currentColor;
	opacity: 0;
	transition: opacity 0.15s;
}
.button:hover::before {
	opacity: 0.04;
}
.button:disabled {
	background-color: transparent;
	color: rgba(255, 255, 255, 0.37);
	cursor: default;
	pointer-events: none;
}

.outlinedButton {
	composes: button;
	padding: 0 16px;
	box-shadow: inset 0 0 0 1px primary;
}
.outlinedButton:disabled {
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.37);
}

.filledButton {
	composes: button;
	padding: 0 16px;
	background-color: primary;
	color: #333333;
}
.filledButton::before {
	background-color: #000000;
}
.filledButton:hover::before {
	opacity: 0.08;
}
.filledButton:disabled {
	background-color: rgba(255, 255, 255, 0.12);
	color: rgba(255, 255, 255, 0.45);
}

.tabButton {
	composes: button;
	display: flex;
	flex-flow: column nowrap;
	height: auto;
	color: inherit;
}
.tabButton:focus {
	outline: none;
	color: primary;
}

.label {}
.tabButton .label {
	font-size: 12px;
}

.icon {
	display: flex;
}
.tabButton .icon {
	margin-bottom: 10px;
}

.submit {
	display: none;
}
