.screen {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	height: 100%;
	overflow: hidden;
}
@media (orientation: landscape) {
	.screen { flex-direction: row; }
}

.top {
	/* This element can't be flexbox. This layout needs a non-flexbox div
	because of its descendants (video player and date picker) using the aspect
	ratio technique.*/
	flex: 0 1 auto;
	position: relative;
	background-color: rgba(255, 255, 255, 0.1);
	border: solid rgba(255, 255, 255, 0.1);
	border-width: 0 0 1px 0;
}
@media (orientation: landscape) {
	.top {
		width: 50%;
		border-width: 0 1px 0 0;
	}
}
@media (orientation: landscape) and (min-width: 1024px) {
	.top { width: 60%; }
}

.topRecordingSelected {
	composes: top;
	background-color: #000000;
}
@media (orientation: landscape) and (max-width: 959px) {
	.topRecordingSelected { width: 100%; }
}

.topCenterer {
	position: relative;
	max-width: 500px;
	margin: 0 auto;
}
.videoContainer,
.datePickerContainer {
	composes: topCenterer;
}
@media (orientation: landscape) {
	.topCenterer {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}
	.videoContainer { max-width: none; }
	.datePickerContainer { align-items: flex-start; } /* Don't vertically center the date picker in landscape orientation. */
}

.bottom {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	flex: 1 1 auto;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.bottomRecordingSelected {
	composes: bottom;
}
@media (orientation: landscape) and (max-width: 959px) {
	.bottomRecordingSelected { display: none; }
}

.closeButton {
	position: absolute;
	top: 8px;
	right: 8px;
	z-index: 10;
}
