@value primary from "../styles/colors.css";

.datePicker {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	position: relative;
	width: 100%;
}

.calendar {
	composes: fillContext from "../styles/helpers.css";
	display: flex;
	flex-flow: column nowrap;
	padding-bottom: 3%;
	text-align: center;
}
.cell {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	flex: 0 0 calc(100% / 7);
}

.monthHeader {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	flex: 1 0 40px;
}
.monthButton {
	composes: cell;
	width: auto;
}
.previousMonthButton { composes: monthButton; }
.nextMonthButton { composes: monthButton; }

.weekHeader {
	display: flex;
	flex-flow: row nowrap;
	flex: 1 1 24px;
	font-size: 12px;
	color: #aaaaaa;
}
.dayHeading {
	composes: cell;
}

.week {
	display: flex;
	flex-flow: row nowrap;
	flex: 1 1 24px;
}
.firstWeek {
	composes: week;
	justify-content: flex-end;
}

.day {
	composes: cell;
	position: relative;
	z-index: 1;
}
.dayLink {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: inherit;
	font-size: 14px;
	text-decoration: none;
	cursor: default;
}
.dayWithEvent {
	color: primary;
	cursor: pointer;
}
.selectedDayLink {
	composes: dayLink;
	color: #ffffff;
}
.selectedDayLink::before {
	content: "";
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	z-index: -1;
	background-color: primary;
	border-radius: 100%;
}
@media (min-width: 400px) and (min-height: 400px) {
	.selectedDayLink::before {
		width: 40px;
		height: 40px;
	}
}

.aspectRatio {
	composes: aspectRatio43 from "../styles/helpers.css";
}
