.container {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
}

.main {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	flex: 1 0;
	margin: 24px 0;
	padding: 0 16px;
	text-align: center;
}

.hopperTotal {
	display: block;
	font-size: 32px;
	color: #c8c8c8;
}

.hopperTotalDescription {
	margin-top: 8px;
	font-size: 13px;
	color: #969696;
}
.hopperTotalDescription::before {
	content: "…";
}

.addCredit {
	display: flex;
	flex-flow: column nowrap;
	padding: 0 16px;
}

.addCreditTitle {
	margin-top: 8px;
	font-size: 13px;
	color: #969696;
}

.addCreditButtons {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
