.container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	min-height: 128px;
}

.sensorValue {
	margin: 0px 8px 8px 8px;
	font-size: 13px;
	color: #c8c8c8;
}

.sensorValues {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	flex: 1 0;
}

.sensorTitle {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	flex: 1 0;
	/* margin: 24px 0; */
	/* padding: 0 8px; */
	text-align: center;
	/* display: block; */
	font-size: 24px;
	color: #969696;
}

.sensorPanelA {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	flex: 1 0;
	padding: 12px 12px 12px 12px;
	/* margin: 24px 0; */
	/* padding: 0 16px; */
	text-align: center;
	/* align-items: center; */
	border-bottom: 1px solid #7e7e7e;
}

.sensorPanelB {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	flex: 1 0;
	padding: 12px 12px 12px 12px;
	/* margin: 24px 0; */
	/* padding: 0 16px; */
	text-align: center;
	/* align-items: center; */
}

.switchWrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	padding: 16px;
}

.sliderWrapper {
	padding: 16px;
}

.divider {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid #7e7e7e;
}

.dividerContainer {
	padding: 12px 24px 12px 24px;
	flex-flow: row nowrap;
}

.themeContainer {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	flex: 1 0;
	padding: 0px 12px 0px 12px;
}

.theme_1 {
	width: 220px;
	height: 75px;
	background: #eee;
	flex-flow: row nowrap;
	border: 3px solid #222;
}

.theme_2 {
	width: 220px;
	height: 75px;
	background: #cc4444;
	flex-flow: row nowrap;
	border-top: 3px solid #222;
	border-right: 3px solid #222;
	border-bottom: 3px solid #222;
}

.theme_3 {
	width: 220px;
	height: 75px;
	background: #44cc44;
	flex-flow: row nowrap;
	border-left: 3px solid #222;
	border-right: 3px solid #222;
	border-bottom: 3px solid #222;
}

.theme_4 {
	width: 220px;
	height: 75px;
	background: #4444cc;
	flex-flow: row nowrap;
	border-right: 3px solid #222;
	border-bottom: 3px solid #222;
}
