.list {
	width: 100%;
	padding: 8px 16px;
}
.title {
	margin: 8px 0 16px 0;
	font-size: 14px;
	line-height: 24px
}
.row {
	height: 48px;
}
.link {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	width: 100%;
	height: 100%;
	color: inherit;
	text-decoration: none;
}
.rowText {
	display: flex;
	flex-flow: column nowrap;
}
.icon {
	display: flex;
	margin-right: 16px;
	align-self: flex-start;
}
.primaryText {}
.secondaryText,
.tertiaryText {
	font-size: 14px;
	color: #b6b6b6;
}
.metaText {
	font-size: 13px;
}
