.list {
	width: 100%;
	padding: 8px 16px;
}

.title {
	margin: 8px 0 16px 0;
	font-size: 14px;
	line-height: 24px;
}

.row {
	height: 48px;
}

.rowContent {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	color: inherit;
	text-decoration: none;
}

.rowContentInner {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	/*align-items: stretch;*/
	flex: 1 1 auto;
}

.rowIcon {
	display: flex;
	margin-right: 16px;
	align-self: flex-start;
}

.rowText {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	flex: 1 1 auto;
}
.primaryText {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: baseline;
}

.metaText {
	font-size: 13px;
}

.secondaryText,
.tertiaryText {
	font-size: 14px;
	color: #b6b6b6;
}
