.list {
	padding: 8px 16px;
}
.title {
	margin: 8px 0 16px 0;
	font-size: 14px;
	line-height: 24px
}
.row {
	height: 48px;
}
.link {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	width: 100%;
	height: 100%;
	color: inherit;
	text-decoration: none;
}
.icon {
	display: flex;
	margin-right: 16px;
}
.primaryText {}
.metaText {
	font-size: 13px;
}
