@value disconnectedRed: #d30808;

.header {
	display: flex;
	flex-flow: row nowrap;
	height: 72px;
	font-size: 14px;
}
.icon {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 56px;
	padding: 16px 16px 16px 0;
	position: relative;
}
.disconnectedIcon {
	composes: icon;
}
.disconnectedIcon::after {
	content: "!";
	display: table-cell;
	vertical-align: middle;
	box-sizing: border-box;
	width: 18px;
	height: 18px;
	position: absolute;
	right: 16px;
	bottom: 16px;
	border-radius: 100%;
	background-color: disconnectedRed;
	color: #ffffff;
	font-size: 15px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
}
.nameWrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}
.name {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	min-height: 20px;
}
.status {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	min-height: 20px;
	color: #909090;
}
.disconnectedStatus {
	composes: status;
	color: disconnectedRed;
}
