.header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin: 8px 16px;
}

.nameContainer {
	flex: 1 0 auto;
}

.field {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 100%;
	height: 54px;
	padding: 20px;
}

.isFocused {}
.isDisabled {
	cursor: not-allowed;
}

.label {}
.isDisabled > .label {
	opacity: 0.5;
}

.container {
	padding: 20px;
}

.sensorValue {
	font-size: 20px;
	color: #c8c8c8;
	text-align: center;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.coolValue {
	font-size: 20px;
	color: #0000c8;
}

.heatValue {
	font-size: 20px;
	color: #c80000;
}

.mousePad {
	width: 95%;
	height: 500px;
	background: #444;
	margin: 5px;
	border: 3px solid #222;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 30px;
	color: #c8c8c8;
}

.scheduleTitle {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	flex: 1 0;
	margin: 14px 0;
	/* padding: 0 8px; */
	text-align: center;
	/* display: block; */
	font-size: 20px;
	color: #c8c8c8;
}

.sensorValues {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	flex: 1 0;
}

.tempSlider {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	flex: 1 0;
	margin: 0px 12px 0px 12px;
}

.tempSliderValue {
	font-size: 14px;
	margin: 10px;
}

.tempSchedule {
	width: 100%;
	margin: 0px 0px 30px 0px;
}

.tempScheduleToggle {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	flex: 1 0;
	margin: 8px 0px 4px 0px;
	/* padding: 0 8px; */
	text-align: center;
	/* display: block; */
	font-size: 14px;
	color: #c8c8c8;
}

.tempScheduleLabel {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	flex: 1 0;
	margin: 8px 0px 4px 0px;
	/* padding: 0 8px; */
	text-align: center;
	/* display: block; */
	font-size: 14px;
	color: #c8c8c8;
}

.tempScheduleLabel2 {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	flex: 1 0;
	margin: 20px 0px 0px 0px;
	/* padding: 0 8px; */
	text-align: center;
	/* display: block; */
	font-size: 14px;
	color: #c8c8c8;
}

.divider {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 90%;
	margin: 20px;
	border-bottom: 1px solid #7e7e7e;
}

.sensorTitle {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	flex: 1 0;
	/* margin: 24px 0; */
	/* padding: 0 8px; */
	text-align: center;
	/* display: block; */
	font-size: 68px;
	color: #969696;
}

.sensorPanelA {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	flex: 1 0;
	padding: 12px 12px 12px 12px;
	/* margin: 24px 0; */
	/* padding: 0 16px; */
	text-align: center;
	/* align-items: center; */
	border-bottom: 1px solid #7e7e7e;
}

.sensorPanelB {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	flex: 1 0;
	padding: 12px 12px 12px 12px;
	/* margin: 24px 0; */
	/* padding: 0 16px; */
	text-align: center;
	/* align-items: center; */
}

.sliderMediaDetailsWrapper {
	padding :16px;
	width: 95%;
}

.hidden {
	display: none;
}
