/* Main app tab bar. */

@value tabBarBackground from "../styles/colors.css";

.tabBar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	flex: 1 1 auto;
	background-color: tabBarBackground;
}

.tab {
	display: flex;
	margin: 0 8px;
}
