@value toolbarHeight from "./AppToolbar.css";
@value liveRed: #bd2100;

.player {
	position: relative;
	width: 100%;
	max-width: calc((100vh - toolbarHeight) * (4 / 3));
	cursor: pointer;
}

.overlay {
	composes: fillContext from "../styles/helpers.css";
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	z-index: 2;
	transition: background 0.15s;
}
.overlay:hover {
	background-color: rgba(0, 0, 0, 0.15);
}
.overlayPlaying {
	composes: overlay;
}
.overlayPlaying:hover {
	background-color: transparent;
}
.live {
	display: inline-block;
	padding: 7px 9px 5px 9px;
	background-color: liveRed;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.85);
	border-radius: 100px;
	position: absolute;
	left: 8px;
	bottom: 8px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	animation: liveTransitionIn 0.5s ease 0.75s backwards;
}
@keyframes liveTransitionIn {
	from { bottom: -100px; }
}

.video {
	position: relative;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}
.aspectRatio {
	/* Default aspect ratio of 4:3. This may be overridden in DOM at run-time. */
	composes: aspectRatio43 from "../styles/helpers.css";
}
.poster {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1
}
.canvas {
	composes: fillContext from "../styles/helpers.css";
	display: block;
	width: 100%;
}
